/.env
/.env.dev
/.env.prod
/.idea
/.run
/.vite
/.db-sync
/docs/backup.sql
.DS_Store
.ai/
.aiassistant
.playwright-mcp/
test-results/
test-screenshots/
screenshots/
traces/
.ddev/docker-compose.wordpress.yaml
/web/js/buildInfo.js
